<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/pico.css">
    <title>Balance | {% block titulo%} {%endblock%} </title>
</head>
<body>
    <header>
        <div class="container">
            Registro de Movimientos

        </div>
    </header>
    <nav class="container">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/nuevo_movimiento">Nuevo</a></li>
            <li><a href="/posiciones">estado</a></li>
        </ul>
    </nav>
    <section class="container">
        {% with mensajes= get_flashed_messages() %}
            {% if mensajes%}
                <section class="errores container">
                    <ul>
                        {%for mensaje in mensajes%}
                            <li class='error-msg'>{{mensaje}} </li>
                        {%endfor%}
                    </ul>
            {%endif%}

        {% endwith %}

    </section>
    <section class="container">
        {%block contenido%}
        {%endblock%}

    </section>

    <footer>
        <div class="container" >
            © 2022. Todos los derechos reservados | Belisa Salcedo 2022

        </div>
    </footer>
</body>
</html>