{% extends "base.html"%}
{% block titulo%}
    Movimientos
{%endblock%}
{%block contenido%}
    <h1> Listado de movimientos </h1>
    {%if movimientos%}
    <table class="movimientos">
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Divisa</th>
            <th>Cantidad</th>
            <th>Tipo Operación</th>
            <th>Posición EUR(Actual)</th>
            <th>Tasa(Momento de compra)</th>
            <th>Divisa origen</th>

        </tr>
        
            {%for movimiento in movimientos%}
            <tr>
                
                <td>{{movimiento[0]}}</td>
                <td>{{movimiento[1]}}</td>
                <td>{{movimiento [2]}}</td>
                <td>{{movimiento[3]}}</td>
                <td>{% if movimiento[4]==1 %}
                Compra {% else %} Venta {%endif%}</td>
                <td>{{movimiento[5]}}</td>
                <td>{% if movimiento[4]==0 %}
                    -- {% else %} {{movimiento[6]}} {%endif%}</td>
                <td>{% if movimiento[4]==0 %}
                    -- {% else %} {{movimiento[7]}} {%endif%}</td>
                
               
            </tr>
            {% endfor %}
    </table>
        {%else%}
        <h1>No hay moviemientos todavía</h1>
        {%endif%}
{%endblock%}
