{% extends "base.html"%}
{% block titulo%}
    Alta de moviento
{%endblock%}

{%block contenido%}
    <h1>Alta de Movimiento</h1>
    <form action="/nuevo_movimiento" method="post">
        <div class="grid">
    
        
            {{formulario.moneda_origen.label()}}
            {{formulario.moneda_origen()}}
        </div>
        <div class="grid">
            {{formulario.cantidad_origen.label()}}
            {{formulario.cantidad_origen(type="number")}}
        </div>
        <div class="grid">
            {{formulario.moneda_destino.label()}}
            {{formulario.moneda_destino()}}
        </div>
        <div class="grid">
            {{formulario.cantidad_destino.label()}}
            {{formulario.cantidad_destino.data}}
            {{formulario.cantidad_destino_h()}}
            
        <div>
            {{formulario.calcular()}}
            {{formulario.aceptar()}}
            <a href="/" role="button">Cancelar</a>
        </div>

    </form>

{%endblock%}