{% extends "base.html"%}
{% block titulo%}
    BALANCE DE CUENTAS
{%endblock%}
{%block contenido%}
    <h1> ESTADO DE TU INVERSIÓN </h1>
    <table>
        <tr>
            <th>Origen de la inversión</th>
            <th>Posición Ficticia Cripto Monedas</th>
            <th>Valor Absoluto EUR</th>
            <th>Beneficio/Pérdida</th>
            
        </tr>
        
        <tr>
            
            <td>{{movimientos[0]}}</td>
            <td>{{movimientos[1]}}</td>
            <td>{{movimientos[2]}}</td>
            <td>{{movimientos[3]}}</td>
            
        </tr>
       
    </table>
{%endblock%}
